@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Noto+Sans+KR:wght@400;500;700&display=swap");

@import "reset.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .menu {
    @apply p-3 bg-gray-50 text-[14px];
  }
  .issue {
    @apply w-full h-[110px] flex flex-col items-center border border-black;
  }
  .menu-footer {
    @apply font-Notosans text-[10px] mt-5 lg:text-[14px] flex flex-col gap-y-3;
  }
  .heading-footer {
    @apply font-bold text-sm lg:text-[14px];
  }
}

.container {
  min-width: 1920px;
  margin: auto;
  border: solid 1px black;
}

.best-product-lg {
  @media screen and (min-width: 1024px) {
    top: 362px;
  }
}
